CapaPresentacion/Web References/wsImpuesto/wsTbImpuesto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TbImpuestoConsultarImpuestos">
        <s:complexType />
      </s:element>
      <s:element name="TbImpuestoConsultarImpuestosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TbImpuestoConsultarImpuestosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TbImpuestoConsultarImpuestosFiltros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pDescripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pPorcentajeImpuesto" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TbImpuestoConsultarImpuestosFiltrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TbImpuestoConsultarImpuestosFiltrosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TbImpuestoConsultarImpuestoBusquedaMantenimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pImpuesto" type="tns:Impuesto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Impuesto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdImpuesto" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PorcentajeImpuesto" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="TbImpuestoConsultarImpuestoBusquedaMantenimientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TbImpuestoConsultarImpuestoBusquedaMantenimientoResult" type="tns:Impuesto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TbImpuestoInsertarImpuesto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pImpuesto" type="tns:Impuesto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TbImpuestoInsertarImpuestoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TbImpuestoInsertarImpuestoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TbImpuestoActualizarImpuesto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pImpuesto" type="tns:Impuesto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TbImpuestoActualizarImpuestoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TbImpuestoActualizarImpuestoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TbIMpuestoEliminarImpuesto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pImpuesto" type="tns:Impuesto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TbIMpuestoEliminarImpuestoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TbIMpuestoEliminarImpuestoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TbImpuestoConsultarImpuestosSoapIn">
    <wsdl:part name="parameters" element="tns:TbImpuestoConsultarImpuestos" />
  </wsdl:message>
  <wsdl:message name="TbImpuestoConsultarImpuestosSoapOut">
    <wsdl:part name="parameters" element="tns:TbImpuestoConsultarImpuestosResponse" />
  </wsdl:message>
  <wsdl:message name="TbImpuestoConsultarImpuestosFiltrosSoapIn">
    <wsdl:part name="parameters" element="tns:TbImpuestoConsultarImpuestosFiltros" />
  </wsdl:message>
  <wsdl:message name="TbImpuestoConsultarImpuestosFiltrosSoapOut">
    <wsdl:part name="parameters" element="tns:TbImpuestoConsultarImpuestosFiltrosResponse" />
  </wsdl:message>
  <wsdl:message name="TbImpuestoConsultarImpuestoBusquedaMantenimientoSoapIn">
    <wsdl:part name="parameters" element="tns:TbImpuestoConsultarImpuestoBusquedaMantenimiento" />
  </wsdl:message>
  <wsdl:message name="TbImpuestoConsultarImpuestoBusquedaMantenimientoSoapOut">
    <wsdl:part name="parameters" element="tns:TbImpuestoConsultarImpuestoBusquedaMantenimientoResponse" />
  </wsdl:message>
  <wsdl:message name="TbImpuestoInsertarImpuestoSoapIn">
    <wsdl:part name="parameters" element="tns:TbImpuestoInsertarImpuesto" />
  </wsdl:message>
  <wsdl:message name="TbImpuestoInsertarImpuestoSoapOut">
    <wsdl:part name="parameters" element="tns:TbImpuestoInsertarImpuestoResponse" />
  </wsdl:message>
  <wsdl:message name="TbImpuestoActualizarImpuestoSoapIn">
    <wsdl:part name="parameters" element="tns:TbImpuestoActualizarImpuesto" />
  </wsdl:message>
  <wsdl:message name="TbImpuestoActualizarImpuestoSoapOut">
    <wsdl:part name="parameters" element="tns:TbImpuestoActualizarImpuestoResponse" />
  </wsdl:message>
  <wsdl:message name="TbIMpuestoEliminarImpuestoSoapIn">
    <wsdl:part name="parameters" element="tns:TbIMpuestoEliminarImpuesto" />
  </wsdl:message>
  <wsdl:message name="TbIMpuestoEliminarImpuestoSoapOut">
    <wsdl:part name="parameters" element="tns:TbIMpuestoEliminarImpuestoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsTbImpuestoSoap">
    <wsdl:operation name="TbImpuestoConsultarImpuestos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método que consulta la lista de Impuestos por medio de un DataSet.</wsdl:documentation>
      <wsdl:input message="tns:TbImpuestoConsultarImpuestosSoapIn" />
      <wsdl:output message="tns:TbImpuestoConsultarImpuestosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TbImpuestoConsultarImpuestosFiltros">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método que consulta la lista de Impuestos pasandole como filtros la descripción o el porcentaje de impuesto y retorna un DataSet.</wsdl:documentation>
      <wsdl:input message="tns:TbImpuestoConsultarImpuestosFiltrosSoapIn" />
      <wsdl:output message="tns:TbImpuestoConsultarImpuestosFiltrosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TbImpuestoConsultarImpuestoBusquedaMantenimiento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método que consulta un Impuesto por su ID y retorna un Impuesto.</wsdl:documentation>
      <wsdl:input message="tns:TbImpuestoConsultarImpuestoBusquedaMantenimientoSoapIn" />
      <wsdl:output message="tns:TbImpuestoConsultarImpuestoBusquedaMantenimientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TbImpuestoInsertarImpuesto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método que inserta un Impuesto.</wsdl:documentation>
      <wsdl:input message="tns:TbImpuestoInsertarImpuestoSoapIn" />
      <wsdl:output message="tns:TbImpuestoInsertarImpuestoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TbImpuestoActualizarImpuesto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método que actualiza un Impuesto.</wsdl:documentation>
      <wsdl:input message="tns:TbImpuestoActualizarImpuestoSoapIn" />
      <wsdl:output message="tns:TbImpuestoActualizarImpuestoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TbIMpuestoEliminarImpuesto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método que elimina un Impuesto.</wsdl:documentation>
      <wsdl:input message="tns:TbIMpuestoEliminarImpuestoSoapIn" />
      <wsdl:output message="tns:TbIMpuestoEliminarImpuestoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsTbImpuestoSoap" type="tns:wsTbImpuestoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TbImpuestoConsultarImpuestos">
      <soap:operation soapAction="http://tempuri.org/TbImpuestoConsultarImpuestos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TbImpuestoConsultarImpuestosFiltros">
      <soap:operation soapAction="http://tempuri.org/TbImpuestoConsultarImpuestosFiltros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TbImpuestoConsultarImpuestoBusquedaMantenimiento">
      <soap:operation soapAction="http://tempuri.org/TbImpuestoConsultarImpuestoBusquedaMantenimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TbImpuestoInsertarImpuesto">
      <soap:operation soapAction="http://tempuri.org/TbImpuestoInsertarImpuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TbImpuestoActualizarImpuesto">
      <soap:operation soapAction="http://tempuri.org/TbImpuestoActualizarImpuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TbIMpuestoEliminarImpuesto">
      <soap:operation soapAction="http://tempuri.org/TbIMpuestoEliminarImpuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsTbImpuestoSoap12" type="tns:wsTbImpuestoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TbImpuestoConsultarImpuestos">
      <soap12:operation soapAction="http://tempuri.org/TbImpuestoConsultarImpuestos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TbImpuestoConsultarImpuestosFiltros">
      <soap12:operation soapAction="http://tempuri.org/TbImpuestoConsultarImpuestosFiltros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TbImpuestoConsultarImpuestoBusquedaMantenimiento">
      <soap12:operation soapAction="http://tempuri.org/TbImpuestoConsultarImpuestoBusquedaMantenimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TbImpuestoInsertarImpuesto">
      <soap12:operation soapAction="http://tempuri.org/TbImpuestoInsertarImpuesto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TbImpuestoActualizarImpuesto">
      <soap12:operation soapAction="http://tempuri.org/TbImpuestoActualizarImpuesto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TbIMpuestoEliminarImpuesto">
      <soap12:operation soapAction="http://tempuri.org/TbIMpuestoEliminarImpuesto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsTbImpuesto">
    <wsdl:port name="wsTbImpuestoSoap" binding="tns:wsTbImpuestoSoap">
      <soap:address location="http://localhost:19447/wsTbImpuesto.asmx" />
    </wsdl:port>
    <wsdl:port name="wsTbImpuestoSoap12" binding="tns:wsTbImpuestoSoap12">
      <soap12:address location="http://localhost:19447/wsTbImpuesto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>